@model RepoLayer.Entity.Employee

@{
    ViewData["Title"] = "ViewEmployeeDetails";
    Layout = "~/Areas/Employees/Views/Shared/_EmpLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center">ViewEmployeeDetails</h1>
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MiddleName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MiddleName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MobileNo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MobileNo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Education)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Education)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Designation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Designation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProfilePicture)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProfilePicture)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.State)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.State)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Country)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Postcode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Postcode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>                   
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ClientId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ClientId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RoleId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RoleId)
                    </dd>
                </dl>
            </div>
            <div>
                <div class="d-flex">
                    @Html.ActionLink("Edit", "UpdateEmployee", "Employee", new { area = "Admin", id = Model.Id }, null)
                    @Html.ActionLink("Back to List", "Index", "Employees", new { area = "Admin" }, new { @class = "btn btn-secondary float-end" })
                </div>
            </div>
        </div>
    </div>
</div>


